extends ../layouts/layout

block content
  .the-can
    .row
    

      //h1= title
      h1= bounty.name
      p= bounty.description
      
      if win
        h2
            p Winner!
            a(href=win.link)
                p!= win.caption
                p!= win.points + ' points'
                img(src=win.thumbnail_url)
                    
      else
        p= 'No winner for this bounty yet...'
        
      if entries.length != 0  
          ul(class='small-block-grid-3')
            p= 'Contestants:'
            each entry in entries
                    li
                        a(href=entry.link)
                            p!= entry.caption
                            p!= entry.points + ' points'
                            img(src=entry.thumbnail_url)
      else
          p= 'No entries for this bounty yet...'
